{% extends 'site/_layout.twig' %}
{% set title = " - Регистрация" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="h3 mb-4">Регистрация</h1>
            <form action="/registration" method="post" class="mb-5">
                {{ csrf_field() }}

                {{ block("authInputs", "site/auth/login.twig") }}

                <button class="btn btn-primary btn-lg btn-block">Зарегистрироваться</button>
            </form>
            <div class="h3 my-3"><a href="/login" class="link-underline-secondary">Войти в личный кабинет</a></div>
            <div class="h3 my-3"><a href="/reset" class="link-underline-secondary">Восстановить пароль</a></div>
        </div>
    </div>
{% endblock %}
